<div
  #palettePanel
  class="
    p-2
    bg-white
    rounded-lg
    border border-gray-200
    shadow
    absolute
    duration-150
    transition-all
    flex flex-row
    -bottom-12
    left-0
    z-20
    gap-2
  "
  [class.opacity-0]="!show"
  [class.opacity-100]="show"
  (click)="onPalettePanelClick($event)"
>
  <ng-container *ngIf="show">
    <div
      *ngFor="let color of colors"
      class="w-8 h-8 rounded-full border-gray-100"
      [class.border]="color != 'white'"
      [ngClass]="color"
      (click)="onColorSelect(color)"
    ></div>
  </ng-container>
</div>
