<div
  *ngIf="isActive"
  #backdrop
  class="w-screen h-screen fixed left-0 top-0 right-0 bottom-0"
></div>
<form
  [formGroup]="form"
  class="
    max-w-2xl
    shadow-xl
    rounded-lg
    px-4
    w-full
    z-10
    border border-transparent
  "
  [class.border-gray-200]="note?.color == 'bg-white'"
  [ngClass]="note?.color || 'bg-white'"
  [class]="isActive ? 'py-4' : 'py-2'"
>
  <input
    *ngIf="isActive"
    type="text"
    formControlName="title"
    class="
      border-none
      resize-none
      w-full
      outline-none
      text-xl
      font-semibold
      mb-2
      px-0
      bg-transparent
    "
    style="box-shadow: none !important"
    placeholder="Názov..."
  />
  <textarea
    #textarea
    formControlName="contentString"
    class="
      border-none
      resize-none
      w-full
      outline-none
      text-xl
      px-0
      placeholder:font-semibold
      bg-transparent
    "
    [class]="isActive ? '' : 'max-h-11'"
    [cols]="isActive ? 3 : 0"
    style="box-shadow: none !important"
    placeholder="Napíšte poznámku..."
  ></textarea>
  <div *ngIf="isActive" #controlPanel class="w-full relative">
    <app-note-control-panel
      hasClose
      (colorSelect)="onColorSelect($event)"
      (close)="onLeave()"
    >
    </app-note-control-panel>
  </div>
</form>
