<div
  *ngIf="isActive"
  #backdrop
  class="w-screen h-screen fixed left-0 top-0 right-0 bottom-0"
></div>
<form
  [formGroup]="form"
  class="
    max-w-2xl
    shadow-xl
    bg-white
    rounded-lg
    px-4
    w-full
    z-10
    border border-gray-200
  "
  [class]="isActive ? 'py-4' : 'py-2'"
>
  <input
    *ngIf="isActive"
    type="text"
    class="
      border-none
      resize-none
      w-full
      outline-none
      text-xl
      font-semibold
      mb-2
    "
    style="box-shadow: none !important"
    placeholder="Názov..."
  />
  <textarea
    #textarea
    class="
      border-none
      resize-none
      w-full
      outline-none
      text-xl
      placeholder:font-semibold
    "
    [class]="isActive ? '' : 'max-h-11'"
    [cols]="isActive ? 3 : 0"
    style="box-shadow: none !important"
    placeholder="Napíšte poznámku..."
  ></textarea>
</form>
