<div
  *ngIf="show"
  class="
    grid
    modal-grid
    fixed
    inset-0
    box-border
    p-4
    z-50
    bg-gray-600 bg-opacity-25
  "
>
  <div
    #modalCard
    class="
      px-4
      pt-5
      pb-4
      sm:p-6 sm:pb-4
      bg-white bg-opacity-100
      rounded-lg
      max-w-full
      lg:w-1/2
      md:w-2/3
      w-auto
      self-center
      justify-self-center
    "
    style="grid-column: 2; grid-row: 2"
  >
    <div class="sm:flex sm:items-start flex-col">
      <form [formGroup]="form" class="block w-full">
        <input
          type="text"
          formControlName="title"
          class="
            border-none
            resize-none
            w-full
            outline-none
            text-xl
            font-semibold
            mb-2
          "
          style="box-shadow: none !important"
          placeholder="Názov..."
        />
        <textarea
          #textarea
          formControlName="contentString"
          class="
            border-none
            resize-none
            w-full
            outline-none
            text-xl
            placeholder:font-semibold
          "
          (input)="onTextareaChange($event)"
          style="box-shadow: none !important"
          placeholder="Napíšte poznámku..."
        ></textarea>
      </form>
      <div #controlPanel>
        <app-note-control-panel
          (colorSelect)="onColorSelect($event)"
          (delete)="onDelete()"
        >
        </app-note-control-panel>
      </div>
    </div>
  </div>
</div>
