<div
  *ngIf="show"
  class="
    grid
    modal-grid
    fixed
    inset-0
    box-border
    p-4
    z-50
    bg-gray-600 bg-opacity-25
  "
>
  <div
    #modalCard
    class="
      px-4
      pt-5
      pb-4
      sm:p-6 sm:pb-4
      bg-opacity-100
      rounded-lg
      lg:max-w-3xl
      md:max-w-md
      max-w-full
      w-auto
      self-center
      justify-self-center
      shadow-xl
    "
    [ngClass]="note?.color || 'bg-white'"
    style="grid-column: 2; grid-row: 2"
  >
    <div class="sm:flex sm:items-start flex-col relative">
      <form [formGroup]="form" class="block w-full">
        <input
          type="text"
          formControlName="title"
          class="
            border-none
            resize-none
            w-full
            outline-none
            text-xl
            font-semibold
            mb-2
            bg-transparent
          "
          style="box-shadow: none !important"
          placeholder="Title..."
        />
        <textarea
          #textarea
          formControlName="contentString"
          class="
            border-none
            resize-none
            w-full
            outline-none
            text-xl
            placeholder:font-semibold
            bg-transparent
          "
          (input)="onTextareaChange($event)"
          style="box-shadow: none !important"
          placeholder="Write note..."
        ></textarea>
      </form>
      <div #controlPanel class="w-full">
        <app-note-control-panel
          hasDelete
          hasClose
          (colorSelect)="onColorSelect($event)"
          (delete)="onDelete()"
          (close)="onClose()"
        >
        </app-note-control-panel>
      </div>
    </div>
  </div>
</div>
