<div class="group cursor-pointer h-full" (click)="onNoteEdit()">
  <div
    class="
      p-4
      h-full
      w-full
      bg-white
      rounded-lg
      border border-gray-200
      shadow
      group-hover:shadow-xl group-hover:-translate-y-2
      relative
      duration-150
      transition-all
    "
  >
    <div *ngIf="note.title" class="text-gray-900 text-xl font-semibold mb-1">
      {{ note.title }}
    </div>
    <div>
      <div *ngFor="let line of note.content">{{ line }}</div>
    </div>
  </div>
</div>
