<nav
  class="
    flex
    items-center
    justify-between
    flex-wrap
    bg-white
    p-4
    border-b border-gray-200
  "
>
  <div class="flex items-center flex-shrink-0 text-gray-800 mr-10">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      x="0px"
      y="0px"
      width="32"
      height="32"
      viewBox="0 0 172 172"
      style="fill: #000000"
    >
      <g
        fill="none"
        fill-rule="nonzero"
        stroke="none"
        stroke-width="1"
        stroke-linecap="butt"
        stroke-linejoin="miter"
        stroke-miterlimit="10"
        stroke-dasharray=""
        stroke-dashoffset="0"
        font-family="none"
        font-weight="none"
        font-size="none"
        text-anchor="none"
        style="mix-blend-mode: normal"
      >
        <path d="M0,172v-172h172v172z" fill="none"></path>
        <g>
          <path
            d="M150.5,21.5h-129v129h96.75l32.25,-32.25z"
            fill="#ffc107"
          ></path>
          <path
            d="M145.125,114.66667h-30.45833v30.45833z"
            fill="#fff8e1"
          ></path>
          <path
            d="M35.83333,50.16667h100.33333v7.16667h-100.33333zM35.83333,68.08333h100.33333v7.16667h-100.33333zM35.83333,86h57.33333v7.16667h-57.33333z"
            fill="#e28e07"
          ></path>
        </g>
      </g>
    </svg>
    <span
      class="
        font-semibold
        text-xl
        tracking-tight
        ml-2
        inline-block
        h-8
        text-center
      "
    >
      Poznámky
    </span>
  </div>
  <div class="block lg:hidden">
    <button
      class="
        flex
        items-center
        px-3
        py-2
        border
        rounded
        text-gray-600
        border-gray-400
        hover:text-gray-700 hover:border-gray-500
      "
    >
      <svg
        class="fill-current h-3 w-3"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <title>Menu</title>
        <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
      </svg>
    </button>
  </div>
  <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
    <div class="text-sm lg:flex-grow">
      <a
        [routerLink]="['/dashboard']"
        class="
          block
          rounded
          lg:inline-block lg:mt-0
          text-gray-800
          mt-4
          mr-4
          bg-transparent
          px-4
          py-2
          hover:bg-gray-700 hover:bg-opacity-20
        "
      >
        Nástenka
      </a>
    </div>
  </div>
</nav>
